@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo: #d6d9e1;
    --color-texto: #111827;
    --color-hover: #f0f0f0;
    --color-menu: #F9FAFB;
}

/* Estilos al Body */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
}

/* HEADER SECTION */

/* Estilos al HEADER */

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 5px;
}

/* Estilos al INPUT TIPO CHECKBOX */

.encabezado__checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* Estilos al LABEL DEL INPUT TIPO CHECKBOX */

.encabezado__desplegar {
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    z-index: 11;
    right: 10px;
    color: var(--color-texto);
}

/* Estilos a la IMÁGEN */

.encabezado__logo {
    max-width: 80px;
}

/* Estilos al UL */

.navegacion__lista {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    list-style: none;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

/* Estilos al A */

.navegacion__enlace,
.formulario__enlace {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--color-texto);
}

/* Estilos A en estado :hover */

.navegacion__enlace:hover {
    background-color: var(--color-hover);
}

/* Estilos del NAV cuando el INPUT SEA CHEQUEADO */

.encabezado__checkbox:checked ~ nav .navegacion__lista {
    z-index: 10;
    flex-direction: column;
    background-color: var(--color-menu);
    transform: translateX(0);
}

/* HEADER SECTION ENDS */

/* MAIN SECTION */

/* Sección Principal de la Página */

.main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__formulario {
    margin: 0 auto;
    max-width: max-content;
    padding: 20px 40px;
    text-align: center;
    background-color: #ffffff;
    color: var(--color-texto);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
}

.formulario__titulo {
    font-size: 1.7em;
}

.formulario__label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 1em;
}

.formulario__input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.formulario__input:focus {
    border-color: #3B82F6; /* azul acento */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.formulario__boton {
    background-color: var(--color-texto);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.formulario__boton:hover {
    background-color: #121938;
}

.formulario__texto {
    font-size: 1em;
    color: #6B7280;
}

/* MAIN SECTION ENDS */

/* QUERY SECTION */
@media screen and (min-width: 600px) {
    body {
        align-items: center;
        justify-content: center;
    }
    .encabezado {
        width: 100%;
        justify-content: space-between;
        padding: 5px 10px;
    }
    .encabezado__checkbox {
        display: none;
    }
    .encabezado__desplegar {
        display: none;
    }
    .navegacion__lista {
        position: static;
        flex-direction: row;
        height: max-content;
        right: 0;
        transition: none;
        transform: none;
        gap: 5px;
    }
}