@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

/* Estilos al Body */
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #d6d9e1;
    display: flex;
    flex-direction: column;
}

/* Estilos al HEADER */

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    max-width: 1200px;
    padding: 5px;
    margin: 0;
}

/* Estilos al INPUT TIPO CHECKBOX */

.encabezado__checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* Estilos al LABEL DEL INPUT TIPO CHECKBOX */

.encabezado__desplegar {
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    z-index: 11;
    right: 10px;
    color: #111827;
}

/* Estilos a la IMÁGEN */

.encabezado__logo {
    max-width: 100px;
}

/* Estilos al UL */

.navegacion__lista {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    list-style: none;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

/* Estilos al A */

.navegacion__enlace,
.formulario__enlace {
    padding: 10px 15px;
    text-decoration: none;
    color: #111827;
}

/* Estilos A en estado :hover */

.navegacion__enlace:hover {
    background-color: #f0f0f0;
}

/* Estilos del NAV cuando el INPUT SEA CHEQUEADO */

.encabezado__checkbox:checked ~ nav .navegacion__lista {
    z-index: 10;
    flex-direction: column;
    background-color: #F9FAFB;
    transform: translateX(0);
}
/* Sección Principal de la Página */
.main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__formulario {
    margin: 0 auto;
    max-width: max-content;
    padding: 40px 60px;
    text-align: center;
    background-color: #ffffff;
    color: #111827;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
}

.formulario__titulo {
    font-size: 2em;
}

.formulario__label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 1.2em;
}

.formulario__input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2em;
    outline: none;
}

.formulario__input:focus {
    border-color: #3B82F6; /* azul acento */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.formulario__boton {
    background-color: #111827;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.formulario__boton:hover {
    background-color: #121938;
}

.formulario__texto {
    font-size: 1em;
    color: #6B7280;
}