<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<body>
    <div class="layout">
        <!-- HEADER STRUCTURE -->
        <header class="encabezado" id="encabezado">
            <div class="encabezado__contenido">
                <img src="../imagenes/logo.png" alt="Logo del blog" class="encabezado__logo">
                <form class="encabezado__form-busqueda" role="search" aria-label="Buscar publicaciones">
                    <div class="encabezado__agrupador">
                        <input type="search" class="encabezado__busqueda"
                        placeholder="Buscar publicaciones..."
                        name="q">
                        <button class="encabezado__form-buscar">
                            <span class="material-symbols-outlined encabezado__search">search</span>
                        </button>
                    </div>
                </form>

                <nav class="encabezado__acciones">
                    <button class="encabezado__cerrar-sesion" id="btn-cerrar-sesion" aria-label="Crear nueva publicación">Log Out</button>
                    <a href="#" class="material-symbols-outlined encabezado__user" id="btn-profile" aria-label="Perfil del usuario" role="link">account_circle</a>
                </nav>
            </div>
        </header>

        <!-- MAIN STRUCTURE -->
        <main class="main">
            <form class="main__form">
                <textarea name="publicacion" id="texto_publicacion" class="main__texto-publicacion" placeholder="Escribe una publicación..." aria-label="Escribe tu nueva publicación"></textarea>
                <div class="main__iteration">
                    <button class="main__publicar" id="main__publicar">Publicar</button>
                    <button class="main__cancelar" id="main__cancelar">Cancelar</button>
                </div>
            </form>
            <section class="main__feed" id="posts-feed">
                
            </section>
        </main>
        <aside class="sidebar" id="sidebar">
            <div class="sidebar__container">
                <section class="sidebar__profile">
                    <h3 class="sidebar__title">Perfil</h3>
                    <div class="sidebar__profile-content">
                        <span class="material-symbols-outlined sidebar__photo-icon" aria-label="Foto de usuario">account_circle</span>
                        <div class="sidebar__profile-info">
                            <a class="sidebar__username" id="sidebar__username" role="link">Nombre de Usuario</a>
                            <a class="sidebar__check-profile" role="link" href="./profile">Ver perfil</a>
                        </div>
                        <span class="material-symbols-outlined sidebar__logout" id="simbolo-cerrar-sesion" aria-label="Cerrar sesión" id="btn-logout">logout</span>
                    </div>
                </section>
                <section class="sidebar__tendencies">
                    <h3 class="sidebar__title">Tendencias</h3>
                    <ul class="sidebar__list">
                        <li class="sidebar__item"><a href="#" class="sidebar__link" role="link">Cristiano Ronaldo</a></li>
                        <li class="sidebar__item"><a href="#" class="sidebar__link" role="link">Super Bowl</a></li>
                        <li class="sidebar__item"><a href="#" class="sidebar__link" role="link">NBA</a></li>
                        <li class="sidebar__item"><a href="#" class="sidebar__link" role="link">Sidney Swednesdey</a></li>
                    </ul>
                </section>
                <section class="sidebar__users">
                    <h3 class="sidebar__title">Recomendaciones</h3>
                    <ul class="sidebar__list">
                        <li class="sidebar__item"><a href="#" class="sidebar__link" role="link">Gabriel Guevara</a></li>
                        <li class="sidebar__item"><a href="#" class="sidebar__link" role="link">Juan Carlos</a></li>
                        <li class="sidebar__item"><a href="#" class="sidebar__link" role="link">Paula Gonzales</a></li>
                    </ul>
                </section>
            </div>
        </aside>
        <dialog class="main__modal" id="main__modal">
            <div class="main__comments">
                <header class="main__comments-header">
                    <button class="main__comments-close">
                        <span class="material-symbols-outlined btn-close">arrow_back_ios</span>
                    </button>
                </header>
                <section class="main__feed">

                </section>
                <section class="main__comments-feed">

                    <div class="comment__thread">
                        <article class="comment__card">
                            <div class="comment-card__photo-wrapper">
                                <span class="material-symbols-outlined comment-card__photo" aria-label="Foto de usuario">account_circle</span>
                            </div>

                            <div class="comment-card__content">
                                <div class="comment-card__info">
                                    <h2 class="comment-card__name">Robertito</h2>

                                    <time class="comment-card__date" datetime="">2026</time>

                                </div>

                                <p class="comment-card__message">I'm struggling a bit with your face</p>

                                <footer class="comment-card__footer-actions">
                                    <button class="comment-card__action-btn btn-action" data-action="comment">Responder</button>
                                    <button class="comment-card__action-btn btn-action" id="btn-action__like" data-action="like">
                                        <!-- Validación para agregar la clase para dar un color específico al botón -->
                                        <span class="material-symbols-outlined like__symbol">favorite</span>
                                        <!-- Número de likes -->
                                        <p class="comment-card__like"></p>
                                    </button>
                                    <!-- Validación para agregar el boton delete -->
                                    <button class="comment-card__action-btn btn-action" data-action="delete">
                                        <span class="material-symbols-outlined">delete</span>
                                    </button>
                                </footer>
                                <button class="comment-card__action-btn btn-action" data-action="comments">Ver respuestas</button>
                            </div>
                        </article>

                        <div class="comment-thread__answers-open">
                            <article class="comment__card">
                                <div class="comment-card__photo-wrapper">
                                    <span class="material-symbols-outlined comment-card__photo" aria-label="Foto de usuario">account_circle</span>
                                </div>

                                <div class="comment-card__content">
                                    <div class="comment-card__info">
                                        <h2 class="comment-card__name">Robertito</h2>

                                        <time class="comment-card__date" datetime="">2026</time>

                                    </div>

                                    <p class="comment-card__message">On your fuck ass. Your mom will come here to suck my dick.</p>

                                    <footer class="comment-card__footer-actions">
                                        <button class="comment-card__action-btn btn-action" data-action="comment">Responder</button>
                                        <button class="comment-card__action-btn btn-action" id="btn-action__like" data-action="like">
                                            <!-- Validación para agregar la clase para dar un color específico al botón -->
                                            <span class="material-symbols-outlined like__symbol">favorite</span>
                                            <!-- Número de likes -->
                                            <p class="comment-card__like"></p>
                                        </button>
                                        <!-- Validación para agregar el boton delete -->
                                        <button class="comment-card__action-btn btn-action" data-action="delete">
                                            <span class="material-symbols-outlined">delete</span>
                                        </button>
                                    </footer>
                                    <button class="comment-card__action-btn btn-action" data-action="comments">Ver respuestas</button>
                                </div>
                            </article>
                        </div>
                    </div>

                </section>
                <div class="main__comment-publicar">
                    <textarea name="publicacion" id="texto_publicacion" class="comment__text" placeholder="Escribe una publicación..." aria-label="Escribe tu nueva publicación"></textarea>
                    <button class="encabezado__form-buscar">
                        <span class="material-symbols-outlined comment__send">send</span>
                    </button>
                </div>
            </div>
        </dialog>
    </div>
    <footer class="footer">
        <p class="footer__copyright"><span class="symbol">©</span> 2025 <a class="footer__link" href="/about" role="link">MyBio</a> | <a class="footer__link" href="privacy" role="link">Privacidad</a> | <a class="footer__link" href="/terms" role="link">Términos</a></p>
    </footer>

    <script type="module" src="../js/base.js"></script>
    <script type="module" src="../js/home.js"></script>
</body>
</html>