@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo: #d6d9e1;
    --color-texto: #111827;
    --color-hover: #f0f0f0;
    --color-menu: #F9FAFB;
    --fondo-general-mobile: #E4E7EE;
    --fondo-targetas-mobile: #ffffff;
    --texto-secundario-mobile: #6B7280;
    --boton-principal-mobile: #3B82F6;
    --boton-secundario-mobile: #D1D5DB;
    --sombras: rgba(0,0,0,0.05);
}