html,body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.encabezado {
    padding: 5px;
    background-color: var(--fondo-targetas-mobile);
    position: sticky;
    top: 0;
}

.encabezado__contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.encabezado__logo {
    max-height: 70px;
    cursor: pointer;
}

.encabezado__titulo {
    font-size: var(--font-size-lg);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
    padding: 10px;
    max-width: 700px;
}

.main__section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--fondo-targetas-mobile);
    padding: 10px;
    border-radius: 7px;
    width: 100%;
}

.main__subtitle {
    font-size: var(--font-size-md);
}

.main__texto {
    font-size: var(--font-size-sm);
}

.main__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
}

.main__link {
    cursor: pointer;
    color: var(--boton-principal-mobile);
}

.footer {
    text-align: center;
    padding: 20px;
    font-size: var(--font-size-xs);
    background-color: var(--color-menu);
    color: var(--color-texto);
    margin-top: auto;
}

.footer__link {
    color: inherit;
    text-decoration: none;
}