body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.encabezado {
    padding: 5px;
    background-color: var(--fondo-targetas-mobile);
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: 0px 2px 6px var(--sombras);
}

.encabezado__contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.encabezado__logo {
    max-height: 70px;
    cursor: pointer;
}

.encabezado__titulo {
    font-size: var(--font-size-md);
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.main__section {
    background-color: var(--fondo-targetas-mobile);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid rgba(255,255,255,0.08);
    backdrop-filter: blur(3px);
    border-left: 4px solid var(--boton-principal-mobile);
}


.main__subtitle {
    font-size: var(--font-size-md);
    margin-bottom: 5px;
}

.main__texto {
    font-size: var(--font-size-sm);
    line-height: 1.5;
}

.main__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
    line-height: 1.4;
}

.main__link {
    cursor: pointer;
    color: var(--boton-principal-mobile);
}

.footer {
    text-align: center;
    padding: 20px;
    font-size: var(--font-size-xs);
    background-color: var(--color-menu);
    color: var(--color-texto);
    margin-top: auto;
}

.footer__link {
    color: inherit;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
    opacity: 0.8;
}

@media (min-width: 768px) {
    .encabezado__titulo {
        font-size: var(--font-size-lg);
    }
}