/* Estilos al Body */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
}


/* ===========================
HEADER (100% RESPONSIVE BASE)
=========================== */
.encabezado {
    width: 100%;
    padding: 5px 20px;
    background-color: var(--color-menu);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.encabezado__logo {
    height: 50px;
    width: auto;
    position: relative;
    z-index: 20;
}

.encabezado__desplegar {
    cursor: pointer;
    position: relative;
    z-index: 20;
}

.encabezado__navegacion {
    display: block;
    padding: 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 100%;
    z-index: 10;
    background-color: var(--color-menu);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.4s ease,
    visibility 0.4s;
}

.encabezado__lista {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.encabezado__enlace {
    text-decoration: none;
    color: var(--color-texto);
    font-size: var(--font-size-md);
}

.encabezado__enlace:hover {
    background-color: var(--color-hover);
    padding: 6px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.encabezado__lista--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.4s ease,
    visibility 0.4s;
}

@media screen and (min-width: 600px) {
    .encabezado {
        padding: 10px 20px;
    }

    .encabezado__logo {
        height: 70px;
    }

    .encabezado .encabezado__desplegar {
        display: none;
    }

    .encabezado__navegacion {
        position: static;
        height: min-content;
        width: auto;
        transform: none;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        background-color: transparent;
        padding: 0;
    }

    .encabezado__lista {
        flex-direction: row;
        height: auto;
        gap: 0 40px;
    }
}

/* HEADER SECTION ENDS */

/* MAIN SECTION */

/* Sección Principal de la Página */

.main {
    height: 80dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__formulario {
    margin: 0 auto;
    max-width: max-content;
    padding: 20px 20px;
    text-align: center;
    background-color: #ffffff;
    color: var(--color-texto);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
}

.formulario__titulo {
    font-size: var(--font-size-lg);
}

.formulario__label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    font-size: var(--font-size-sm);
}

.formulario__input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--font-size-xs);
    outline: none;
}

.formulario__input:focus {
    border-color: #3B82F6; /* azul acento */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.formulario__boton {
    background-color: var(--color-texto);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: var(--font-size-sm);
    transition: background-color 0.3s ease;
}

.formulario__boton:hover,
.formulario__boton:focus {
    background-color: #121938;
}

.formulario__texto {
    margin-top: 15px;
}

.formulario__texto a {
    font-size: var(--font-size-sm);
    color: var(--color-texto);
}

/* MAIN SECTION QUERIES */

@media screen and (min-width: 600px) {
    .main__formulario {
        padding: 20px 40px;
    }
}

/* MAIN SECTION ENDS */