/* MAIN SECTION */

/* Sección Principal de la Página */

.main {
    height: 80dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__formulario {
    margin: 0 auto;
    max-width: fit-content;
    padding: 20px 20px;
    text-align: center;
    background-color: #ffffff;
    color: var(--color-texto);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
}

.formulario__titulo {
    font-size: var(--font-size-lg);
}

.formulario__label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    font-size: var(--font-size-sm);
}

.formulario__input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--font-size-xs);
    outline: none;
}

.formulario__input:focus {
    border-color: #3B82F6; /* azul acento */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.formulario__boton {
    background-color: var(--color-texto);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: var(--font-size-sm);
    transition: background-color 0.3s ease;
}

.formulario__boton:hover,
.formulario__boton:focus {
    background-color: #121938;
}

.formulario__texto {
    margin-top: 15px;
}

.formulario__texto a {
    font-size: var(--font-size-sm);
    color: var(--color-texto);
}

/* MAIN SECTION QUERIES */

@media screen and (min-width: 600px) {
    .main__formulario {
        padding: 20px 40px;
    }
}

/* MAIN SECTION ENDS */