/* MAIN SECTION */

/* Sección Principal de la Página */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80dvh;
}

.main__formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--color-menu);
    color: var(--color-texto);
    box-shadow: 0px 2px 4px var(--sombras);
    border-radius: 10px;
}

.formulario__titulo {
    font-size: var(--font-size-xl);
    text-align: center;
}

.formulario__label {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-sm);
}

.formulario__input {
    border: none;
    border-radius: 7px;
    padding: 10px;
    font-size: var(--font-size-xs);
    outline: none;
}

.formulario__input:hover,
.formulario__input:focus {
    box-shadow: 0px 2px 4px var(--sombras);
}

.formulario__boton {
    width: 100%;
    background-color: var(--boton-principal-mobile);
    color: var(--fondo-targetas-mobile);
    padding: 7px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: var(--font-size-sm);
    transition: background-color 0.3s linear;
}

.formulario__boton:hover,
.formulario__boton:focus {
    background-color: var(--color-texto);
}

.formulario__texto a {
    font-size: var(--font-size-xs);
    color: var(--color-texto);
}

/* MAIN MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .main__formulario {
        min-width: 500px;
    }
}