/* Estilos al Body */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* HEADER STYLES */
.encabezado {
    width: 100%;
    padding: 5px 20px;
    background-color: var(--color-menu);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.encabezado__logo {
    height: 50px;
    width: auto;
    position: relative;
    z-index: 20;
}

.encabezado__desplegar {
    cursor: pointer;
    position: relative;
    z-index: 20;
}

.encabezado__navegacion {
    display: block;
    padding: 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 100%;
    z-index: 10;
    background-color: var(--color-menu);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.4s ease,
    visibility 0.4s;
}

.encabezado__lista {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.encabezado__enlace {
    text-decoration: none;
    color: var(--color-texto);
    font-size: var(--font-size-md);
}

.encabezado__enlace:hover {
    background-color: var(--color-hover);
    padding: 6px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.encabezado__lista--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.4s ease,
    visibility 0.4s;
}

/* HEADER MEDIA QUERIES */

@media screen and (min-width: 600px) {
    .encabezado {
        padding: 10px 20px;
    }

    .encabezado__logo {
        height: 70px;
    }

    .encabezado .encabezado__desplegar {
        display: none;
    }

    .encabezado__navegacion {
        position: static;
        height: min-content;
        width: auto;
        transform: none;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        background-color: transparent;
        padding: 0;
    }

    .encabezado__lista {
        flex-direction: row;
        height: auto;
        gap: 0 40px;
    }
}

/* HEADER STYLES END */

/* MAIN STYLES */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    height: 100vh;
}

.main__formulario {
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--color-menu);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--sombras);
}

.formulario__titulo {
    font-size: var(--font-size-xl);
    margin-bottom: 20px;
    text-align: center;
}

.formulario__grupo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Inter';
    font-size: var(--font-size-sm);
}

.formulario__input {
    padding: 5px;
    border-radius: 7px;
    border: none;
    font-size: var(--font-size-xs);
    outline: none;
    transition: box-shadow .3s linear;
}

.formulario__input:hover, .formulario__input:focus {
    box-shadow: 0px 2px 4px var(--sombras);
}

.formulario__boton {
    width: 100%;
    padding: 7px 0;
    border-radius: 7px;
    border: none;
    background-color: var(--boton-principal-mobile);
    color: var(--fondo-targetas-mobile);
    margin-bottom: 15px;
    transition: background-color .3s linear;
    cursor: pointer;
}

.formulario__boton:hover {
    background-color: var(--color-texto);
}

.formulario__termino {
    font-size: var(--font-size-xs);
    text-align: center;
    margin-bottom: 15px;
}

.formulario__texto {
    font-size: var(--font-size-xs);
    text-align: center;
}

.formulario__enlace {
    color: var(--boton-principal-mobile);
}