body {
    background-color: var(--fondo-general-mobile);
}

/* HEADER STYLES*/
/* MOBILE HEADER STYLES */
.encabezado {
    width: 100%;
    background-color: var(--color-menu);
    position: sticky;
    top: 0;
    z-index: 10;
}

.encabezado__contenido {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.encabezado__form-busqueda,
.encabezado__acciones {
    display: contents;
}

.encabezado__logo {
    max-width: 70px;
    order: 0;
}

.encabezado__publicar {
    display: none;
    order: 1;
    background-color: var(--boton-principal-mobile);
    border: none;
    padding: 7px;
    min-width: max-content;
    color: var(--boton-secundario-mobile);
    outline: none;
    border-radius: 7px;
    font-size: 1.2em;
    transition: background-color .3s linear, color .3s linear;
}

.encabezado__busqueda {
    order: 2;
    width: 100%;
    padding: 7px 10px;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    color: var(--color-texto);
    outline: none;
    font-size: 1em;
    transition: filter .3s linear;
}

.encabezado__publicar:hover,
.main__publicar {
    background-color: var(--fondo-general-mobile);
    color: var(--boton-principal-mobile);
}

.encabezado__busqueda:hover {
    filter: drop-shadow(0px 0px 4px var(--sombras));
}

.encabezado__user {
    color: var(--color-texto);
    order: 1;
}

/* DESKTOP HEADER STYLES */
@media screen and (min-width: 768px) {
    .encabezado__contenido {
        gap: 15px;
        flex-wrap: nowrap;
    }

    .encabezado__form-busqueda {
        order: 1;
        flex-grow: 1;
    }

    .encabezado__acciones {
        display: flex;
        align-items: center;
        gap: 15px;
        order: 3;
    }

    .encabezado__busqueda {
        order: 1;
        font-size: 1.2em;
        max-width: 700px;
        margin: 0 auto;
    }

    .encabezado__busqueda:hover {
        filter: drop-shadow(0px 0px 10px var(--sombras));
    }

    .encabezado__publicar {
        display: block;
    }

    .encabezado__user {
        order: 0;
    }
}

/* HEADER STYLES ENDS */

/* MAIN STYLES */

.layout {
    padding: 0 20px;
    max-width: 1300px;
    margin: 20px auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main__form, 
.post-card,
.sidebar__container {
    background-color: var(--fondo-targetas-mobile);
}

.main__form {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px var(--sombras);
    width: 95%;
    padding: 10px;
}

.main__texto-publicacion {
    padding: 6px;
    border: none;
    outline: none;
    height: 80px;
    font-size: 1.2em;
    border-bottom: 2px solid var(--fondo-general-mobile);
    margin-bottom: 9px;
    font-family: inherit;
}

.main__publicar, .main__cancelar {
    background-color: var(--boton-principal-mobile);
    border: none;
    padding: 7px;
    min-width: fit-content;
    color: var(--boton-secundario-mobile);
    outline: none;
    border-radius: 7px;
    font-size: 1em;
    transition: background-color .3s linear, color .3s linear;
}

.main__publicar:hover {
    background-color: var(--boton-secundario-mobile);
    color: var(--color-texto);
}

.main__cancelar {
    background-color: var(--boton-secundario-mobile);
    color: var(--color-texto);
}

.main__cancelar:hover, .sidebar__check-profile:hover {
    background-color: var(--boton-principal-mobile);
    color: var(--boton-secundario-mobile);
}

.main__feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.post-card {
    display: flex;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px var(--sombras);
    padding: 7px;
    width: 95%;
}

.post-card__content {
    width: fit-content;
}

.post-card__photo-wrapper {
    min-width: 40px;
}

.post-card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.post-card__name {
    font-size: 1.2em;
}

.post-card__message {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.post-card__footer-actions {
    display: flex;
    gap: 20px;
}

.sidebar {
    display: none;
}

/* MAIN SECTION ENDS */

/* FOOTER STYLES */

.footer {
    text-align: center;
    margin: 20px;
}

.footer__copyright {
    color: var(--color-texto);
}

.footer__link {
    color: inherit;
    text-decoration: none;
}

/* FOOTER STYLES ENDS */

/* MAIN, ASIDE AND FOOTER SECTIONS MEDIA QUERIES */

@media screen and (min-width: 768px) {
    /* LAYOUT STYLES */
    .layout {
        display: grid;
        grid-template-columns: 1fr minmax(250px, 350px);
    }

    /* DESKTOP MAIN STYLES */
    .main {
        padding-right: 0;
        grid-column: 1/2;
    }

    /* DESKTOP STYLES ENDS */

    /* DESKTOP ASIDE STYLES */
    .sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 100px;
        z-index: 1;
        height: fit-content;
        grid-column: 2/3;
    }

    .sidebar__container {
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 90%;
        border: none;
        border-radius: 9px;
        padding: 30px;
    }

    .sidebar__profile, .sidebar__tendencies, .sidebar__users{
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .sidebar__profile, .sidebar__tendencies {
        border-bottom: 2px solid var(--fondo-general-mobile);
        padding: 10px;
    }

    .sidebar__title {
        font-size: 1.2em;
    }

    .sidebar__photo-icon {
        font-size: 4em;
    }

    .sidebar__profile-content {
        display: flex;
        gap: 20px;
    }

    .sidebar__profile-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 1.1em;
    }

    .sidebar__username {
        font-size: 1.1em;
        font-weight: 700;
    }

    .sidebar__check-profile {
        padding: 5px;
        background-color: var(--boton-secundario-mobile);
        width: fit-content;
        border-radius: 7px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: background-color .3s linear, color .3s linear;
    }

    .sidebar__list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding-left: 20px;
    }

    .sidebar__item > a {
        text-decoration: none;
        color: var(--color-texto);
    }

    /* ASIDE DESKTOP STYLES ENDS */

    /* DESKTOP FOOTER STYLES */
    .footer {
        grid-column: 2/3;
    }

    /* FOOTER DESKTOP STYLES ENDS */
}