body {
    background-color: var(--fondo-general-mobile);
}

.layout {
    max-width: 1300px;
}

/* HEADER STYLES*/
/* MOBILE HEADER STYLES */
.encabezado {
    width: 100%;
    background-color: var(--color-menu);
    position: sticky;
    top: 0;
    z-index: 20;
}

.encabezado__contenido {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.encabezado__form-busqueda,
.encabezado__acciones {
    display: contents;
}

.encabezado__logo {
    max-width: 70px;
    order: 0;
}

.encabezado__publicar {
    display: none;
    order: 1;
    background-color: var(--boton-principal-mobile);
    border: none;
    padding: 7px;
    min-width: max-content;
    color: var(--boton-secundario-mobile);
    outline: none;
    border-radius: 7px;
    font-size: var(--font-size-xs);
    transition: background-color .3s linear, color .3s linear;
    cursor: pointer;
}

.encabezado__busqueda {
    order: 2;
    width: 100%;
    padding: 7px 10px;
    border: none;
    border-radius: 7px;
    color: var(--color-texto);
    outline: none;
    font-size: var(--font-size-sm);
    transition: filter .3s linear;
}

.encabezado__publicar:hover {
    background-color: var(--fondo-general-mobile);
    color: var(--boton-principal-mobile);
}

.encabezado__busqueda:hover {
    filter: drop-shadow(0px 0px 4px var(--sombras));
}

.encabezado__user {
    color: var(--color-texto);
    order: 1;
    cursor: pointer;
}

/* DESKTOP HEADER STYLES */
@media screen and (min-width: 768px) {
    .encabezado__contenido {
        gap: 15px;
        flex-wrap: nowrap;
    }

    .encabezado__form-busqueda {
        order: 1;
        flex-grow: 1;
    }

    .encabezado__acciones {
        display: flex;
        align-items: center;
        gap: 15px;
        order: 3;
    }

    .encabezado__busqueda {
        order: 1;
        max-width: 700px;
        margin: 0 auto;
    }

    .encabezado__busqueda:hover {
        filter: drop-shadow(0px 0px 10px var(--sombras));
    }

    .encabezado__publicar {
        display: block;
    }

    .encabezado__user {
        order: 0;
    }
}

/* HEADER STYLES ENDS */

/* MAIN STYLES */
.main {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    align-items: stretch;
    padding: 0 20px;
    margin-top: 20px;
}

.main__form, 
.post-card {
    background-color: var(--fondo-targetas-mobile);
}

.main__form {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px var(--sombras);
    width: 100%;
    padding: 10px;
}

.main__texto-publicacion {
    padding: 6px;
    border: none;
    outline: none;
    height: 80px;
    font-size: var(--font-size-sm);
    border-bottom: 2px solid var(--fondo-general-mobile);
    margin-bottom: 9px;
    font-family: inherit;
    resize: none;
}

.main__iteration {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.main__publicar, .main__cancelar {
    background-color: var(--boton-principal-mobile);
    border: none;
    padding: 7px;
    min-width: fit-content;
    color: var(--boton-secundario-mobile);
    outline: none;
    border-radius: 7px;
    font-size: var(--font-size-xs);
    transition: background-color .3s linear, color .3s linear;
    cursor: pointer;
}

.main__publicar:hover {
    background-color: var(--boton-secundario-mobile);
    color: var(--color-texto);
}

.main__cancelar {
    background-color: var(--boton-secundario-mobile);
    color: var(--color-texto);
}

.main__cancelar:hover {
    background-color: var(--boton-principal-mobile);
    color: var(--boton-secundario-mobile);
}

.main__feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.post-card {
    display: flex;
    align-items: flex-start;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px var(--sombras);
    padding: 7px;
    width: 100%;
}

.post-card__content {
    width: 100%;
}

.post-card__photo-wrapper {
    min-width: 40px;
}

.post-card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.post-card__name {
    font-size: var(--font-size-md);
}

.post-card__message {
    font-size: var(--font-size-sm);
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.post-card__footer-actions {
    display: flex;
    gap: 20px;
}

/* MAIN SECTION ENDS */

/* ASIDE STYLES */

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--color-menu);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.4s ease,
    visibility 0.4s, border-top 0.4s ease;
}

.aside-visible {
    border-top: 2px solid var(--fondo-general-mobile);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.4s ease,
    visibility 0.4s, border-top 0.4s ease;
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    height: 100%;
    padding: 20px;
}

.sidebar__profile, .sidebar__tendencies, .sidebar__users{
    border-bottom: 2px solid var(--fondo-general-mobile);
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 15px;
}
.sidebar__title {
    font-size: var(--font-size-md);
}
.sidebar__profile-content {
    display: flex;
    gap: 50px;
}
.sidebar__profile-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: var(--font-size-sm);
}
.sidebar__username {
    font-size: var(--font-size-xs);
    font-weight: 700;
}
.sidebar__check-profile {
    padding: 5px;
    background-color: var(--boton-secundario-mobile);
    width: fit-content;
    border-radius: 7px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .3s linear, color .3s linear;
}
.sidebar__check-profile:hover {
    background-color: var(--boton-principal-mobile);
    color: var(--boton-secundario-mobile);
}
.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 20px;
}
.sidebar__item > a {
    text-decoration: none;
    color: var(--color-texto);
}
/* ASIDE STYLES ENDS */

/* FOOTER STYLES */

.footer {
    text-align: center;
    padding: 20px;
    font-size: var(--font-size-xs);
    background-color: var(--color-menu);
    color: var(--color-texto);
    height: 100%;
    margin-top: 20px;
}

.footer__link {
    color: inherit;
    text-decoration: none;
}

/* FOOTER STYLES ENDS */

/* MAIN, ASIDE AND FOOTER SECTIONS MEDIA QUERIES */

@media screen and (min-width: 768px) {
    /* LAYOUT STYLES */
    .layout {
        display: grid;
        grid-template-columns: 1fr minmax(250px, 350px);
        grid-template-rows: auto 1fr auto;
    }

    /* DESKTOP HEADER STYLES */
    .encabezado {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    /* DESKTOP MAIN STYLES */
    .main {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    /* DESKTOP STYLES ENDS */

    /* DESKTOP ASIDE STYLES */
    .sidebar {
        display: flex;
        flex-direction: column;
        height: min-content;
        grid-column: 2/3;
        grid-row: 2/3;
        position: sticky;
        top: 110px;
        z-index: 1;
        padding: 0 20px;
        margin-top: 20px;
    }

    .sidebar__container {
        width: 100%;
        border-radius: 9px;
        padding: 20px;
    }

    .sidebar__profile, .sidebar__tendencies, .sidebar__users{
        border-bottom: 2px solid var(--fondo-general-mobile);
        display: flex;
        gap: 5px;
        flex-direction: column;
        padding: 15px;
    }

    .sidebar__title {
        font-size: var(--font-size-md);
    }

    .sidebar__profile-content {
        display: flex;
        gap: 20px;
    }

    .sidebar__profile-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: var(--font-size-sm);
    }

    .sidebar__username {
        font-size: var(--font-size-xs);
        font-weight: 700;
    }

    .sidebar__check-profile {
        padding: 5px;
        background-color: var(--boton-secundario-mobile);
        width: fit-content;
        border-radius: 7px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: background-color .3s linear, color .3s linear;
    }

    .sidebar__check-profile:hover {
        background-color: var(--boton-principal-mobile);
        color: var(--boton-secundario-mobile);
    }

    .sidebar__list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding-left: 20px;
    }

    .sidebar__item > a {
        text-decoration: none;
        color: var(--color-texto);
    }

    /* ASIDE DESKTOP STYLES ENDS */

    /* DESKTOP FOOTER STYLES */
    .footer {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    /* DESKTOP FOOTER STYLES ENDS */
}