/* HEADER STYLES*/
/* MOBILE HEADER STYLES */
.encabezado {
    width: 100%;
    background-color: var(--color-menu);
}

.encabezado__contenido {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.encabezado__form-busqueda,
.encabezado__acciones {
    display: contents;
}

.encabezado__logo {
    max-width: 70px;
    order: 0;
}

.encabezado__publicar {
    display: none;
}

.encabezado__busqueda {
    order: 2;
    width: 100%;
    padding: 7px 10px;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    color: var(--color-texto);
    outline: none;
    font-size: .9em;
    transition: filter .3s linear;
}

.encabezado__busqueda:hover {
    filter: drop-shadow(0px 0px 4px var(--sombras));
}

.encabezado__user {
    color: var(--color-texto);
    order: 1;
}

/* DESKTOP HEADER STYLES */
@media screen and (min-width: 600px) {
    .encabezado__contenido {
        gap: 15px;
        flex-wrap: nowrap;
    }

    .encabezado__form-busqueda {
        order: 1;
        flex-grow: 1;
    }

    .encabezado__acciones {
        display: flex;
        align-items: center;
        gap: 15px;
        order: 3;
    }

    .encabezado__busqueda {
        order: 1;
        font-size: 1.2em;
        max-width: 700px;
        margin: 0 auto;
    }

    .encabezado__busqueda:hover {
        filter: drop-shadow(0px 0px 10px var(--sombras));
    }

    .encabezado__publicar {
        display: block;
        order: 1;
        background-color: var(--boton-principal-mobile);
        border: none;
        padding: 7px;
        min-width: max-content;
        color: var(--boton-secundario-mobile);
        outline: none;
        border-radius: 7px;
        font-size: 1.2em;
        transition: background-color .3s linear, color .3s linear;
    }

    .encabezado__publicar:hover {
        background-color: var(--fondo-general-mobile);
        color: var(--boton-principal-mobile);
    }

    .encabezado__user {
        order: 0;
    }
}

/* HEADER STYLES ENDS */

/* MAIN STYLES */









.sidebar {
    display: none;
}

